* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: black;
    background-image: linear-gradient(to top, white 0%, #ff0844 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 8-px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 1000%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar__links:hover {
    color: orangered;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: black;
    }

    .navbar__menu.active {
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
        
    #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);  
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Hero scetion */
.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90vh;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: black;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: lime;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: white;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
 height: 80%;
 width: 80%;
}

/* mobile responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }


  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}


/* Swiping section css*/
.swiping {
  background: white ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.denied {
  position: relative;
  padding-right: 70%;
  top: 20%;
}

.liked {
  position: relative;
  padding-left: 70%;

}

.swiping__container {
  background-color: red;
  width: 60%;
  min-width: 520px;
  position: relative;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 15%;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.image__container {
  position: relative;
  width: 100%;
  border: 1px solid black;
}

#content1 {
  position: relative;
  width: 100%;
  display: none;
}

.active {
  display: block;
}








/*------- Footer Area Start -----------*/
.footer-icons ul li {
    display: inline-block;
  }
  
  .footer-icons ul li a {
    border: 1px solid #444;
    color: #444;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
  }
  
  .footer-icons {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .footer-contacts p span {
    color: #3EC1D5;
    font-weight: 700;
  }
  
  .popular-tag ul li {
    display: inline-block;
  }
  
  .footer-content {
    display: block;
    overflow: hidden;
  }
  
  .popular-tag ul li a:hover, 
  .footer-icons ul li a:hover {
    background: #3EC1D5;
    border: 1px solid #3EC1D5;
    color: #fff;
  }
  
  .popular-tag ul li a {
    border: 1px solid #444;
    border-radius: 30px;
    color: #333;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: 5px 3px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s ease 0s;
    width: 70px;
    text-align: center;
  }
  
  .footer-area-bottom {
    background: #f1f1f1 none repeat scroll 0 0;
    padding: 15px 0;
  }
  
  .copyright-text a:hover {
    text-decoration: underline;
    color: #3EC1D5;
  }
  
  .copyright-text a {
    color: #444;
  }
  
  .copyright> p {
    margin-bottom: 0;
    color: #444;
  }
  
  .credits {
    padding-top: 5px;
    text-align: center;
  }
  
  .credits a {
    color: #000;
  }

